
.btn {
    
    &-login{
        width:100%;
        height:38px;
        color:#fff;
        font-size:16px;
        text-align: center;
        cursor: pointer;
        background-color: #0196FD !important;
        border: 0px solid #fff;
        border-radius: 3px;
        outline: none !important;
    }
    &-nobdr{
        background-color: transparent;
        border:0px solid #fff;
        cursor: pointer;
        font-size:12px;
        font-weight:bold;
        color:#0196FD;
    }
    &-nobg{
        background-color: transparent;
        border: 0px solid $white;
        outline: none;
        cursor: pointer;
        position: absolute;
        left: 30%;
        top: 14.2%;
   }
   &-transparent{
    background-color: transparent;
    border: 0px solid $white;
    outline: none;
    cursor: pointer;
}
   &-add{
    background-color:#0196FD;
    color:$white;
    cursor: pointer;
    border: 0px solid $white;
    border-radius: 3px;
    outline: none !important;
    padding:2%;
    text-align: center;
    font-size:12px;
    height:38px;
    width:70%;
   }
   &-save{
       background-color:#00D532;
       color:$white;
       cursor: pointer;
       border: 0px solid $white;
       border-radius: 3px;
       outline: none !important;
       padding:2%;
       text-align: center;
       font-size:12px;
       height:38px;
   }
   &-bdr{
        background-color: transparent;
        border:1px solid #0196FD;
        color:#0196FD;
        font-weight:700;
        cursor: pointer;
        border-radius: 3px;
        outline: none !important;
        padding:2%;
        text-align: center;
        font-size:12px;
        height:38px;
        padding-top:1px;
        min-width:53px;
        & p{
            color:#48596B;
            font-size: 10px;
        }
        &:hover{
            background-color: #0196FD !important;
            color: $white !important;
         & p{
             color: $white;
         }
        }
        &.active{
            background-color: #0196FD !important;
            color: $white !important;
         & p{
             color: $white;
         }
        }
   }
   &-bill{
       background-color: #FFECEF;
       color: #FF0000;
       padding:2%;
       text-align: center;
       font-size:12px;
       height:38px;
       font-weight:700;
       cursor: pointer;
       border-radius: 3px;
       border: 1px solid #FF0000;
       position: relative;
       top:9px;
   }

}


.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    padding-top: 3px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image:none !important;
}