.V1_forms{

& textarea{
              border-radius: 0.25rem !important;
              border: 1px solid #ddd;
              padding: 7px 10px;
              font-size: 12px !important;
              &:focus{
                border: 1px solid #000 !important;
                outline:none !important;
              }
}

&  .form-control{
       // border-radius: 50px;
       border-radius: 50rem !important;
       border: 1px solid #ced4da !important;
       height: calc(1.7rem + 2px) !important;
       min-height: auto;

}
& .custom-file-label::after, .custom-file-label{
       border-radius: 25px !important; 
}
& input[type=checkbox] + label:before{
       content:'';
       width:1rem;
       height:1rem;
}

}


.rounded-style{
       &  .form-control{
              // border-radius: 50px;
              border-radius: 50rem !important;
              border: 1px solid #ced4da !important;
              height: calc(1.7rem + 2px) !important;
              min-height: auto;
       
       }

       &.input-group{

                & .form-control{
                  // border-radius: 50px;
                  border-radius: 50rem 0px 0px 50rem !important;
                  border: 1px solid #ced4da !important;
                  height: calc(1.7rem + 2px) !important;
                  min-height: auto;
          
          }

          & .input-group-append {
            border-radius: 0px 50rem 50rem 0px !important;

            & .btn{
              border-radius: 0px 50rem 50rem 0px !important;
              text-transform: unset;
            }
          }
       }
}


/*rounded switch css start*/
.switch {
       position: relative;
       display: inline-block;
       width: 60px;
       height: 34px;
     }
     
     .switch input { 
       opacity: 0;
       width: 0;
       height: 0;
     }
     
     .slider {
       position: absolute;
       cursor: pointer;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: #ccc;
       -webkit-transition: .4s;
       transition: .4s;
     }
     
     .slider:before {
       position: absolute;
       content: "";
       height: 26px;
       width: 26px;
       left: 4px;
       bottom: 4px;
       background-color: white;
       -webkit-transition: .4s;
       transition: .4s;
     }
     
     input:checked + .slider {
       background-color: #1D009B;
     }
     
     input:focus + .slider {
       box-shadow: 0 0 1px #1D009B;
     }
     
     input:checked + .slider:before {
       -webkit-transform: translateX(26px);
       -ms-transform: translateX(26px);
       transform: translateX(26px);
     }
     
     /* Rounded sliders */
     .slider.round {
       border-radius: 34px;
     }
     
     .slider.round:before {
       border-radius: 50%;
     }

/*rounded switch css end*/


/*
tree node styles
*/

.V1_tree-style1, .V1_tree-material{


    & .mainlevel {

      & .sublevel{
        text-align: left;

        
        & .level3-list-item {
          margin-left: 56px !important;
          display: inline-block;
          // color: #1517fd !important;
        }
        //padding: 0px 5px 0px 24px !important;
              & .level3-list-item::after {
                content: "";
                width: 10px !important;
                height: 10px !important;
                border: 2px solid #1517FD !important;
                background: #fff;
                border-radius: 50%;
                position: absolute;
                top: 7px !important;
                left: -48px !important;
                }

                & .nochild {
                  & .icon-ic_Viewdetails:before{
                    color: #c78686 !important;
                  }
                }

      }

      & .mainlevel {

        & .tree-padding{
          padding-left: 55px !important;
        }

              & .sublevel{
                
              & .tree-padding{
                padding-left: 94px !important;
              }

                & .sublevel{
                  & .tree-padding{
                    padding-left: 128px !important;
                  }
                }
              }
       
      }
      
    }
}

.V1_tree-bootstrap{

  & .level3-list-item{
    position: relative;
    margin-left: 58px !important;
    display: block;
    color: #1517fd !important;
    &::after{
      content: "";
    width: 10px !important;
    height: 10px !important;
    border: 2px solid #1517FD !important;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 7px !important;
    left: -47px !important;
    }
  }
  & .nochild {
    & a{
      //color: #c78686;
      color: #c78686;
    }
    & .icon-ic_Viewdetails:before {
      color: #c78686 !important;
  }
  }
  & .level {
    &-1 {

      & .tree-padding{
        padding-left: 55px !important;
      }

  
    }
    &-2 {

      & .tree-padding{
        padding-left: 92px !important;
      }
  
    }
    &-3 {

      & .tree-padding{
        padding-left: 128px !important;

      }
  
    }
  }
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #1517FD !important;
  background-color: #1517FD !important;
}

.arrow_box {
  height: auto !important;
}

.arrow_box.top.show {
  top: 10px !important;
  left: -13px !important;
}

.arrow_box.top:after{
  top: -21px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box.top:before {
  top: -28px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box.top:after {
  border-bottom-color: #fff;
  border-width: 11px;
  margin-left: 64px;
}

.arrow_box.top:before {
  border-bottom-color: #ededed;
  border-width: 14px;
  margin-left: 61px;
}



.h-form, .V1_h-forms{
  label {
    width:30%;
  }
}

label, .col-form-label{
  font-size: 12px;
}