.header {
    background-color:$white !important;
    height: 68px;
    float: right;
    width: calc(100% - 194px);
    position: fixed;
    top: 0;
    z-index: -1;
    right: 0;

    &-left{
        padding:3%;
        padding-left:6%;
        & img{
            width:27px;
        }
        & h6{
            font-size: 14px;
            font-weight: 700;
            color: #0196FD;
            padding-top:1%;
            padding-left:1%;
        }
    }
    &-right{
        padding-right:6%;
        padding-top: 2%;
        & img{
            width:40px;
        }
       & ul{
           padding:0px;
           display: block;
            & li{
                text-decoration: none;
                display: inline-block;
                padding-left:40px;
                padding-top:1%;
                cursor: pointer;
                color:#7D8D8F;
                & a{
                    color:#7D8D8F;
                }
                & label{
                    background-color: #0196FD;
                    width:18px;
                    height:18px;
                    border-radius: 50px;
                    color:$white;
                    text-align: center;
                }
                & .css-2b097c-container {
                    position: relative;
                    box-sizing: border-box;
                    width: 200px;
                }
                & .css-yk16xz-control {
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    background-color: transparent !important;
                    border-color: transparent !important;
                    border-radius: 0px !important;
                    border-style: solid;
                    border:0px solid #000 !important;
                    border-width: 0 !important;
                    cursor: pointer;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-flex-wrap: wrap;
                    -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-box-pack: justify;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                    min-height: 38px;
                    outline: 0!important;
                    position: relative;
                    -webkit-transition: all 100ms;
                    transition: all 100ms;
                }
                & .css-yk16xz-control input[type=text] {
                    height: 53px !important;
                    border-radius: 0px !important;
                    border: 0px solid #E2E2E2 !important;
                }
            }
            & li:hover{
                color:#0196FD;
            }
        }
    }
}

.dropdown-menu {
    position: absolute !important;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}