bpdy{
  overflow: hidden;
  overflow-x: hidden;
}
h1{
  color: red;
}
.login{
  &-left{
    & .pic{
      padding-top: 3%;
      padding-left: 7%;
    }
    width:100%;
    // height:100vh;
    // padding:6%;
    & h5{
      font-size:25px;
      color:#48596B;
      text-align: center;
      width:80%;
      margin-left:20%;
      font-weight: bold;
      margin-top:3%;
    }
    & p{
      font-size: 15px;
      color:#BFC5CB;
      width:80%;
      margin-left:20%;
      text-align: center;
      margin-top:2%;
    }
    &-bgbottom{
      background-image:url(../../assets/images/login_bg_circle.svg);
      background-repeat: no-repeat;
      width:154px;
      height:129px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    & .retail{
      text-align: center;
      padding:4%;
      & img{
        margin-left:16%;
      }
    }
  }
  &-right{
    background-image: url(../../assets/images/login_circle_big.svg);
    background-repeat: no-repeat;
    width:100%;
    height: 100vh;

    &-form{
      width: 63%;
      height: 70%;
      position: relative;
      top: 14%;
      left: 20%;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #EFEFEF;
      box-shadow: 0px 0px 33px #7DAAC938;
      padding:6%;
      padding-top:5%;
      & h5{
        color:#48596B;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
      }
     & input[type=text]{
        height:53px;
        border-radius: 3px;
        border:1px solid #E2E2E2;
      }
      & input[type=password]{
        height:53px;
        border-radius: 3px;
        border:1px solid #E2E2E2;
      }
  //    & input[type=text]:focus{
  //       transform: scaleX(1) translateY(-2px);
  //   opacity: 1;
  //   border-left:2px solid #11BBF3 !important;
  //   border-radius:0px !important;
  //   }
  //  & input[type="password"]:focus{
  //       transform: scaleX(1) translateY(-2px);
  //       opacity: 1;
  //       border-left:2px solid #11BBF3 !important;
  //       border-radius:0px !important;
  //   }
    }
  }
  &-logo{

  }
}
.text{
  &-center{
    text-align: center !important;
  }
}
.cursor{
  cursor: pointer !important;
}
.css-yk16xz-control{
  & input[type=text]{
    height:53px !important;
    border-radius: 3px !important;
    border:1px solid #E2E2E2 !important;
  }
}
.select_control .css-g1d714-ValueContainer {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  height: 53px;
  flex: 1;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2px 8px;
  -webkit-overflow-scrolling: touch;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.css-yk16xz-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $white;
  border-color:#E2E2E2 !important;
  border-radius: 3px !important;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0!important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
}
.css-b8ldur-Input{
    margin: -11px !important;
    /* padding-bottom: 2px; */
    /* padding-top: 2px; */
    visibility: visible;
    color: $white !important;
    box-sizing: border-box;
    /* display: none; */
}
.domain{
  width:100%;
  // display: flex;
  margin-bottom: 20%;
  & h5{
    font-size: 22px;
    font-weight: 600;
    color: #0196FD;
    margin:0px auto;
    text-align: center;
    margin-bottom: 20px;
  }
  & ul{
    display: block;
    width:100%;
    text-decoration: none;
    padding-left: 0;
    margin:0px auto;
    & li{
        display: inline-block;
        margin:3%;
        text-decoration: none;
        text-align: center;
        color: #797884;
        width:132px;
        height:132px;
        background-color: #fff;
        border-radius: 50rem;
        border:4px solid #797884;
        cursor: pointer;
      & i{
        font-size:3rem;
        position: relative;
        top: 20%;
      }
      & h6{
        font-size: 20px;
        position: relative;
        top:52%;
      }
      &:hover{
        background-color: #0196FD;
        border:4px solid #0196FD;
        & i{
          color:#fff;
        }
        & h6{
          color:#0196FD;

        }
      }
    }
  }
}