.modal{
    &-header{
        background-color: #E2F3FE !important;
        border-bottom: 1px solid #E2F3FE !important;
        border-top-left-radius: 6px !important;
        border-top-right-radius: 6px !important;
        padding-left:2%;
        & h5{
            font-size:20px;
            color: #0196FD !important;
            font-weight: 600;
            margin-top:4px;
        }
    }
    &-title{
        padding-left:2%;
    }
    &-body{
        padding:4% !important;
    }
}